<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Zoznam trénerov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h2>Zoznam trénerov a kurzov:</h2>
    <hr>

    <ul>
        {% for trener in treneri %}
            <li>
                <strong>{{ trener.Meno }} {{ trener.Priezvisko }}</strong><br>
                {% if trener.kurzy %}
                    {% for kurz in trener.kurzy %}
                        - {{ kurz.Nazov_kurzu }}<br>
                    {% endfor %}
                {% else %}
                    - Žiadny kurz
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}"><button>Späť</button></a>
</body>
</html>
